
body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0) !important;
  font-family: 'Rubik', sans-serif !important;
}

.text-table{

  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
/* 
.rainbow-text {
 text-decoration: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
} */

/* Table Data Css */


 input {
  background:#222222;
  color:#FFFFFF;
  border-radius:10px;
  border: 0px;
  width: 70%;
  opacity: 0.8;
font-family: 'Rubik', sans-serif !important;
/* font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Kodchasan', sans-serif; */

}

/* input:focus{
  background:#222222;
  opacity: 0.8;
  color:#FFFFFF;
  border-radius:1px;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
} */

/* input::selection{
display: none;
} */

input:-webkit-autofill   {
  appearance: auto;
/* display: none; */
  background-color: #222222 !important;
  color: #F2F2F2 !important;
}

.editRowClass {
  height: 18px;
  opacity: 0.9;
}
.deleteRowClass {
  height: 15px;
  opacity: 0.9;
}


/* Modal Css */
/* .btn-close{
      background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%#f2f2f2'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
} */
.modal-content{
  border: 2px solid #212529 !important;
  background-color: #212529 !important;
 }
.modal-header{
 background-color: #212529;
  color: #F2F2F2;
}

.modal-body{
  background-color: #343a40; 
  color: #F2F2F2;
}

.modal-footer{
  background-color: #212529;
   color: #F2F2F2;
 }
 

